<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chip Count!</title>
  <!--    <link rel="stylesheet" type="text/css" href="styles/style.css" /> -->
  </head>
  <body >
    <div ng-app='chipCount'>
      <div ng-controller='counter'>

        <form ng-show='newGame'>
          <button ng-click='addChips()'>Add some Chips</button>
          <input type='number' placeholder='How much do you want?' ng-model='initChips' required/>
        </form>

        <form ng-hide='newGame'>
          <button ng-click='betChips()' ng-disabled='count < bettedChips'>Bet Chips</button>
          <input type='number' placeholder='How much do you want to bet' ng-model='bettedChips'/>
        </form>
        
        <div ng-if='count < bettedChips' class='message'>
          <h2>You don't have enough chips!</h2>
        </div>
        
        <div>Your Chips: {{count}}</div>
        <div ng-hide='newGame'>Pot: {{pot}} Chips</div>

        <button ng-click='gameOver()' ng-disabled='newGame'ng-show='pot === 0 && count === 0'>Is the game over?</button>
      </div>
    </div>

    <script type='text/javascript' src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src='./index.js'></script>
    <!-- <script src="lib/angular-route/angular-route.js"></script> -->
  </body>
</html>